<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zangyi.mapper.CommentinfoMapper">
  <resultMap id="BaseResultMap" type="com.zangyi.common.Commentinfo">
    <id column="comment_id" jdbcType="INTEGER" property="commentId" />
    <result column="answer_id" jdbcType="INTEGER" property="answerId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="comment_state" jdbcType="INTEGER" property="commentState" />
    <result column="prase_count" jdbcType="INTEGER" property="praseCount" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="user_avatar" jdbcType="VARCHAR" property="userAvatar" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="comment_area" jdbcType="INTEGER" property="commentArea" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zangyi.common.Commentinfo">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    comment_id, answer_id, user_id, comment_state, prase_count, createtime, updatetime, 
    user_avatar, user_name, comment_area
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.zangyi.common.CommentinfoExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from commentinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.zangyi.common.CommentinfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from commentinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from commentinfo
    where comment_id = #{commentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from commentinfo
    where comment_id = #{commentId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zangyi.common.CommentinfoExample">
    delete from commentinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zangyi.common.Commentinfo">
    insert into commentinfo (comment_id, answer_id, user_id, 
      comment_state, prase_count, createtime, 
      updatetime, user_avatar, user_name, 
      comment_area, content)
    values (#{commentId,jdbcType=INTEGER}, #{answerId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{commentState,jdbcType=INTEGER}, #{praseCount,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{userAvatar,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{commentArea,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zangyi.common.Commentinfo">
    insert into commentinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        comment_id,
      </if>
      <if test="answerId != null">
        answer_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="commentState != null">
        comment_state,
      </if>
      <if test="praseCount != null">
        prase_count,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="userAvatar != null">
        user_avatar,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="commentArea != null">
        comment_area,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        #{commentId,jdbcType=INTEGER},
      </if>
      <if test="answerId != null">
        #{answerId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="commentState != null">
        #{commentState,jdbcType=INTEGER},
      </if>
      <if test="praseCount != null">
        #{praseCount,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="userAvatar != null">
        #{userAvatar,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="commentArea != null">
        #{commentArea,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zangyi.common.CommentinfoExample" resultType="java.lang.Long">
    select count(*) from commentinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update commentinfo
    <set>
      <if test="record.commentId != null">
        comment_id = #{record.commentId,jdbcType=INTEGER},
      </if>
      <if test="record.answerId != null">
        answer_id = #{record.answerId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.commentState != null">
        comment_state = #{record.commentState,jdbcType=INTEGER},
      </if>
      <if test="record.praseCount != null">
        prase_count = #{record.praseCount,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null">
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatetime != null">
        updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userAvatar != null">
        user_avatar = #{record.userAvatar,jdbcType=VARCHAR},
      </if>
      <if test="record.userName != null">
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.commentArea != null">
        comment_area = #{record.commentArea,jdbcType=INTEGER},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update commentinfo
    set comment_id = #{record.commentId,jdbcType=INTEGER},
      answer_id = #{record.answerId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      comment_state = #{record.commentState,jdbcType=INTEGER},
      prase_count = #{record.praseCount,jdbcType=INTEGER},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      user_avatar = #{record.userAvatar,jdbcType=VARCHAR},
      user_name = #{record.userName,jdbcType=VARCHAR},
      comment_area = #{record.commentArea,jdbcType=INTEGER},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update commentinfo
    set comment_id = #{record.commentId,jdbcType=INTEGER},
      answer_id = #{record.answerId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      comment_state = #{record.commentState,jdbcType=INTEGER},
      prase_count = #{record.praseCount,jdbcType=INTEGER},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      user_avatar = #{record.userAvatar,jdbcType=VARCHAR},
      user_name = #{record.userName,jdbcType=VARCHAR},
      comment_area = #{record.commentArea,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zangyi.common.Commentinfo">
    update commentinfo
    <set>
      <if test="answerId != null">
        answer_id = #{answerId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="commentState != null">
        comment_state = #{commentState,jdbcType=INTEGER},
      </if>
      <if test="praseCount != null">
        prase_count = #{praseCount,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="userAvatar != null">
        user_avatar = #{userAvatar,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="commentArea != null">
        comment_area = #{commentArea,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where comment_id = #{commentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zangyi.common.Commentinfo">
    update commentinfo
    set answer_id = #{answerId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      comment_state = #{commentState,jdbcType=INTEGER},
      prase_count = #{praseCount,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      user_avatar = #{userAvatar,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      comment_area = #{commentArea,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where comment_id = #{commentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zangyi.common.Commentinfo">
    update commentinfo
    set answer_id = #{answerId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      comment_state = #{commentState,jdbcType=INTEGER},
      prase_count = #{praseCount,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      user_avatar = #{userAvatar,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      comment_area = #{commentArea,jdbcType=INTEGER}
    where comment_id = #{commentId,jdbcType=INTEGER}
  </update>
</mapper>