<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zangyi.mapper.DanceMapper">
  <resultMap id="BaseResultMap" type="com.zangyi.common.Dance">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="placeId" jdbcType="VARCHAR" property="placeid" />
    <result column="nameZang" jdbcType="VARCHAR" property="namezang" />
    <result column="nameHan" jdbcType="VARCHAR" property="namehan" />
    <result column="videoImg" jdbcType="VARCHAR" property="videoimg" />
    <result column="videoTime" jdbcType="VARCHAR" property="videotime" />
    <result column="videoId" jdbcType="VARCHAR" property="videoid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, placeId, nameZang, nameHan, videoImg, videoTime, videoId
  </sql>
  <select id="selectByExample" parameterType="com.zangyi.common.DanceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.zangyi.common.DanceExample">
    delete from dance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zangyi.common.Dance">
    insert into dance (id, placeId, nameZang, 
      nameHan, videoImg, videoTime, 
      videoId)
    values (#{id,jdbcType=INTEGER}, #{placeid,jdbcType=VARCHAR}, #{namezang,jdbcType=VARCHAR}, 
      #{namehan,jdbcType=VARCHAR}, #{videoimg,jdbcType=VARCHAR}, #{videotime,jdbcType=VARCHAR}, 
      #{videoid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zangyi.common.Dance">
    insert into dance
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="placeid != null">
        placeId,
      </if>
      <if test="namezang != null">
        nameZang,
      </if>
      <if test="namehan != null">
        nameHan,
      </if>
      <if test="videoimg != null">
        videoImg,
      </if>
      <if test="videotime != null">
        videoTime,
      </if>
      <if test="videoid != null">
        videoId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="placeid != null">
        #{placeid,jdbcType=VARCHAR},
      </if>
      <if test="namezang != null">
        #{namezang,jdbcType=VARCHAR},
      </if>
      <if test="namehan != null">
        #{namehan,jdbcType=VARCHAR},
      </if>
      <if test="videoimg != null">
        #{videoimg,jdbcType=VARCHAR},
      </if>
      <if test="videotime != null">
        #{videotime,jdbcType=VARCHAR},
      </if>
      <if test="videoid != null">
        #{videoid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zangyi.common.DanceExample" resultType="java.lang.Long">
    select count(*) from dance
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dance
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.placeid != null">
        placeId = #{record.placeid,jdbcType=VARCHAR},
      </if>
      <if test="record.namezang != null">
        nameZang = #{record.namezang,jdbcType=VARCHAR},
      </if>
      <if test="record.namehan != null">
        nameHan = #{record.namehan,jdbcType=VARCHAR},
      </if>
      <if test="record.videoimg != null">
        videoImg = #{record.videoimg,jdbcType=VARCHAR},
      </if>
      <if test="record.videotime != null">
        videoTime = #{record.videotime,jdbcType=VARCHAR},
      </if>
      <if test="record.videoid != null">
        videoId = #{record.videoid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dance
    set id = #{record.id,jdbcType=INTEGER},
      placeId = #{record.placeid,jdbcType=VARCHAR},
      nameZang = #{record.namezang,jdbcType=VARCHAR},
      nameHan = #{record.namehan,jdbcType=VARCHAR},
      videoImg = #{record.videoimg,jdbcType=VARCHAR},
      videoTime = #{record.videotime,jdbcType=VARCHAR},
      videoId = #{record.videoid,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>